body {
  background-color: rgb(36, 35, 35);
}
h1 {
  margin-left: 420px;
  margin-top: 40px;
  color: white;
  font-family: cursive;
  font-style: italic;
}

h2 {
  margin-left: 300px;
  margin-top: 50px;
  color: white;
  font-family: cursive;
  display: inline-flex;
  font-style: italic;
}
.player2 {
  margin-right: 100px;
  border-left-width: 30px;
  padding-left: 50px;
}
img {
  margin-left: 200px;
  margin-top: 30px;
}
#p1 {
  margin-left: 220px;
}
#p2 {
  margin-left: 175px;
}
button {
  color: white;
  background-color: black;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-family: cursive;
  width: 100px;
  height: 30px;
  margin-left: 42%;
  margin-top: 5%;
  border-radius: 20px;
  margin-bottom: 20px;
}
button:hover {
  background-color: white;
  color: black;
}
